@model OrderViewModel

<form asp-action="Purchase" method="post" class="form-horizontal" role="form">
    <h4>Fill in your information.</h4>


    <div class="form-group">
        <label asp-for="@Model.Order.LastName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="@Model.Order.LastName" class="form-control" value="@Model.User.LastName"/>
            <span asp-validation-for="@Model.Order.LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Order.FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="@Model.Order.FirstName" class="form-control" value="@Model.User.FirstName"/>
            <span asp-validation-for="@Model.Order.FirstName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Order.AddressLine" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="@Model.Order.AddressLine" class="form-control" value="@Model.User.AdressLine"/>
            <span asp-validation-for="@Model.Order.AddressLine" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Order.ZipCode" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="@Model.Order.ZipCode" class="form-control" value="@Model.User.ZipCode"/>
            <span asp-validation-for="@Model.Order.ZipCode" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Order.City" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="@Model.Order.City" class="form-control" value="@Model.User.City"/>
            <span asp-validation-for="@Model.Order.City" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Order.State" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="@Model.Order.State" class="form-control" value="@Model.User.State"/>
            <span asp-validation-for="@Model.Order.State" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Order.Country" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="@Model.Order.Country" class="form-control" value="@Model.User.Country"/>
            <span asp-validation-for="@Model.Order.Country" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Order.PhoneNumber" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="@Model.Order.PhoneNumber" class="form-control" value="@Model.User.PhoneNumber"/>
            <span asp-validation-for="@Model.Order.PhoneNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Order.Email" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="@Model.Order.Email" class="form-control" value="@Model.User.Email"/>
            <span asp-validation-for="@Model.Order.Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-success" value="Complete order" />
        </div>
    </div>

</form>

