@model ShoppingCartViewModel

    <div class="text-center">
        <h1 class="display-4">Shopping Cart</h1>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-left">Title</th>
                    <th>Price</th>
                    <th class="text-center">Amount</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
                {
                    <tr>
                        <td class="p-0"><img style="max-width: 150px" src="@item.Product.imageUrl" alt="Product image" /></td>
                        <td class="text-left">@item.Product.Name</td>
                        <td>@item.Product.Price€</td>
                        <td class="text-center">@item.Amount</td>
                        <td>@((item.Amount * item.Product.Price))€</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-right">Total:</td>
                    <td>
                        @Model.ShoppingCartTotal€
                    </td>
                </tr>
            </tfoot>
        </table>

        <div>
            <a class="btn btn-primary float-left" asp-controller="Product" asp-action="Index">Continue Shopping</a>
            <a class="btn btn-success float-right" asp-controller="Order" asp-action="Purchase">Purchase</a>
        </div>
    </div>